In [1]:
#Import dependencies
import pandas as pd
import numpy as np
#file location
file_location = "/Users/scott/Bootcamp Lessons and Exercises/4.3 Real-World Data Parsing with Pandas/Homework/purchase_data_2.json"

In [2]:
#read and view data
purc_data = pd.read_json(file_location)
purc_data

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64
12,30,Male,81,Dreamkiss,4.06,Iskossa88
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
18,28,Male,91,Celeste,3.71,Iskista88
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83
21,15,Male,3,Phantomlight,1.79,Iaralrgue74
22,11,Female,11,Brimstone,2.52,Deural48
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67
25,21,Male,63,Stormfury Mace,1.27,Idai61
26,29,Male,132,Persuasion,3.90,Aerithllora36
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25
...,...,...,...,...,...,...
750,23,Male,86,Stormfury Lantern,1.28,Eollym91
751,26,Female,179,"Wolf, Promise of the Moonwalker",1.88,Lisjasksda68
752,15,Female,116,Renewed Skeletal Katana,2.37,Yalostiphos68
753,20,Male,4,Bloodlord's Fetish,2.28,Thryallym62
754,31,Male,104,Gladiator's Glaive,1.36,Sondastan54
755,22,Female,179,"Wolf, Promise of the Moonwalker",1.88,Ailaesuir66
756,22,Male,6,Rusty Skull,1.20,Siasri67
757,35,Male,11,Brimstone,2.52,Seosri62
758,20,Male,122,Unending Tyranny,1.21,Ryastycal90
759,19,Male,87,"Deluge, Edge of the West",2.20,Chanirrasta87
760,29,Male,81,Dreamkiss,4.06,Aerithllora36
761,28,Male,175,Woeful Adamantite Claymore,1.24,Raeduerin33
762,36,Male,52,Hatred,4.39,Lisosiast26
763,27,Other / Non-Disclosed,48,"Rage, Legacy of the Lone Victor",4.32,Eurisuru25
764,25,Male,70,Hope's End,3.89,Assassasda84
765,15,Male,13,Serenity,1.49,Aerithnucal56
766,22,Female,84,Arcane Gem,2.23,Nitherian58
767,20,Male,122,Unending Tyranny,1.21,Hailaphos89
768,21,Male,158,"Darkheart, Butcher of the Champion",3.56,Chamucosda93
769,24,Male,73,Ritual Mace,3.74,Frichilsasya78
770,22,Male,141,Persuasion,3.27,Aenasu69
771,24,Male,25,Hero Cane,1.03,Lassista97
772,15,Male,31,Trickster,2.07,Sidap51
773,21,Male,44,Bonecarvin Battle Axe,2.46,Chamadarsda63
774,24,Male,123,Twilight's Carver,1.14,Lassassast73
775,22,Male,98,"Deadline, Voice Of Subtlety",3.62,Eural50
776,14,Male,104,Gladiator's Glaive,1.36,Lirtossa78
777,20,Male,117,"Heartstriker, Legacy of the Light",4.15,Tillyrin30
778,20,Male,75,Brutality Ivory Warmace,1.72,Quelaton80
779,23,Female,107,"Splitter, Foe Of Subtlety",3.61,Alim85

In [22]:
#Look at only Gender, SN, and Age from original pd
player_demographics = purc_data.loc[:, ["Gender", "SN", "Age"]]
player_demographics.head()

  Gender            SN  Age
0   Male     Aelalis34   38
1   Male        Eolo46   21
2   Male   Assastnya25   34
3   Male  Pheusrical25   21
4   Male        Aela59   23

In [23]:
#dropping the duplicates, and obtaining a count of the total number of players
player_demographics = player_demographics.drop_duplicates()
number_of_players = player_demographics.count()[0]
number_of_players

573

In [24]:
#Putting total number of players in a dataframe
pd.DataFrame({"Total Players": [number_of_players]})

   Total Players
0            573

In [46]:
#Number of Unique Items
unique_items = purc_data['Item ID'].nunique()
#Average Purchase Price
Average_Purch_Price = purc_data['Price'].mean()
#Total Number of Purchases
Number_of_Purchases = purc_data["Price"].count()
#Total Revenue
total_rev = round(purc_data['Price'].sum(), 2)

#Putting variables into a dataframe, and viewing the dataframe
purchase_analysis = pd.DataFrame([{
    
    "Number of Unique Items": unique_items,
    'Average Purchase Price': Average_Purch_Price,
    'Total Purchases': Number_of_Purchases,
    'Total Revenue': total_rev
}])
purchase_analysis

,Average Purchase Price,Number of Unique Items,Total Purchases,Total Revenue
0,2.933488,183,777,2279.32

In [26]:
#Counting the value of all the males, females, and other.  Getting percentages for each
gender_dem_totals = player_demographics["Gender"].value_counts()
gender_dem_percents = gender_dem_totals/player_count*100

#Creating a dataframe with total count and percentage of players
gender_demographics = pd.DataFrame({"Total Count" : gender_dem_totals, "Percentage of Players": gender_dem_percents})
gender_demographics

                       Percentage of Players  Total Count
Male                               81.151832          465
Female                             17.452007          100
Other / Non-Disclosed               1.396161            8

In [33]:
#calculating total purchase, average, and purchase count per gender.  grouping the origianl dataframe by gender, looking at the sum of the Price, then renaming the value
gender_purchase_total = purc_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_average = purc_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Value")
gender_counts = purc_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")

normalized_total = gender_purchase_total / gender_demographics["Total Count"]

#Create the dataframe to store the values by gender
gender_data = pd.DataFrame({"Normalized Total": normalized_total, 
                            "Purchase Count": gender_counts, 
                            "Total Purchase Value": gender_purchase_total, 
                            "Average Purchase Value": gender_average})


gender_data

,Average Purchase Value,Normalized Total,Purchase Count,Total Purchase Value
Gender,,,,
Female,2.826296,3.815500,135,381.55
Male,2.950919,4.004366,631,1862.03
Other / Non-Disclosed,3.249091,4.467500,11,35.74

In [34]:
#Creating some bins for the age groups
age_bins = [0, 9.90, 14.90, 19.90, 24.9, 29.9, 34.90, 39.90, 9999999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]

#Cut the dataframe, adding in "Age Ranges"
player_demographics["Age Ranges"] = pd.cut(player_demographics["Age"], age_bins, labels=group_names)
player_demographics.head()

  Gender            SN  Age Age Ranges
0   Male     Aelalis34   38      35-39
1   Male        Eolo46   21      20-24
2   Male   Assastnya25   34      30-34
3   Male  Pheusrical25   21      20-24
4   Male        Aela59   23      20-24

In [36]:
#creating the variables to store the total count of each in the age ranges, and the percentages
age_demographics_totals = player_demographics["Age Ranges"].value_counts()
age_demographics_percents = age_demographics_totals / number_of_players*100

#Create a dataframe to store the values, sort them
age_demographics = pd.DataFrame({"Total Count": age_demographics_totals, "Percent of Players": age_demographics_percents})
age_demographics = age_demographics.sort_index()
age_demographics

       Percent of Players  Total Count
<10              3.315881           19
10-14            4.013962           23
15-19           17.452007          100
20-24           45.200698          259
25-29           15.183246           87
30-34            8.202443           47
35-39            4.712042           27
>40              1.919721           11

In [38]:
#Group orginial df by screen name, looking the sum, mean, and count of hte "Price, renaming value
user_total = purc_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Amount")
user_average = purc_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Amount")
user_count = purc_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")

#inputing values into new df
user_data = pd.DataFrame({"Total Purchase Amount": user_total,
                          "Average Purchase Price": user_average,
                          "Purchase Count": user_count})

#sorting values and keeping top 5
user_data.sort_values("Total Purchase Amount", ascending=False).head(5)

             Average Purchase Price  Purchase Count  Total Purchase Amount
SN
Undirrala66                3.412000               5                  17.06
Saedue76                   3.390000               4                  13.56
Mindimnya67                3.185000               4                  12.74
Haellysu29                 4.243333               3                  12.73
Eoda93                     3.860000               3                  11.58

In [45]:
#creating a dataframe that is grouped by Item ID, and looks at thte count of Item ID
#then sorting the values and takeing the top
top_items_id = pd.DataFrame(purc_data.groupby("Item ID")["Item ID"].count())
top_items_id.sort_values("Item ID", ascending=False, inplace=True)
top_items_id = top_items_id.iloc[0:5][:]

#creating a dataframe that is grouped by Item ID and looks at the sum of hte Price
top_items_total = pd.DataFrame(purc_data.groupby('Item ID')["Price"].sum())

#merging two df and creating a variable that drops the duplicates from the origianl df
top_5_items = pd.merge(top_items_id, top_items_total, left_index=True, right_index=True)
no_dup_items = purc_data.drop_duplicates(["Item ID"], keep = "last")

#merging the dataframes on Item ID
#seting the index to item ID, rename the columns, view df
top5_merge_ID = pd.merge(top_5_items, no_dup_items, left_index = True, right_on = 'Item ID')
top5_merge_ID = top5_merge_ID[['Item ID', 'Item Name', 'Item ID_x', 'Price_y', 'Price_x']]
top5_merge_ID.set_index(['Item ID'], inplace = True)
top5_merge_ID.rename(columns =  {'Item ID_x': 'Purchase Count', 'Price_y': 'Item Price', 'Price_x': 'Total Purchase Value'}, inplace=True)
top5_merge_ID

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
39,"Betrayal, Whisper of Grieving Widows",11,2.35,25.85
84,Arcane Gem,10,2.23,22.30
31,Trickster,9,2.07,18.63
175,Woeful Adamantite Claymore,9,1.24,11.16
13,Serenity,9,1.49,13.41

In [56]:
# find total purcahse value and sort by high to low
top5_profit = pd.DataFrame(purc_data.groupby('Item ID')['Price'].sum())
top5_profit.sort_values('Price', ascending = False, inplace = True)
#look at the top 5
top5_profit = top5_profit.iloc[0:5][:]
#get item purchase count
pur_count_profit = pd.DataFrame(purc_data.groupby('Item ID')['Item ID'].count())

#Merge the dfs and rename the columns, format to percentages and $
top5_profit = pd.merge(top5_profit, pur_count_profit, left_index = True, right_index = True, how = 'left')
top5_merge_profit = pd.merge(top5_profit, no_dup_items, left_index = True, right_on = 'Item ID', how = 'left')
top5_merge_profit = top5_merge_profit[['Item ID', 'Item Name', 'Item ID_x', 'Price_y','Price_x']]
top5_merge_profit.set_index(['Item ID'], inplace=True)
top5_merge_profit.rename(columns = {'Item ID_x': 'Purchase Count', 'Price_y': 'Item Price', 'Price_x': 'Total Purchase Value'}, inplace = True)
top5_merge_profit.style.format({'Item Price': '${:.2f}', 'Total Purchase Value': '${:.2f}'})